<footer class="background">
    <div class="container border-bottom pb-4">
        <div class="row">
            <div class="col-12">
                <a routerLink='' class='footer-logo'>
                    <img src='/assets/images/logo.png' alt='image'>
                </a>
            </div>
        </div>
    </div>

    <!-- <div class="container mt-5 border-bottom">
        <div class="row">
            <div class="col-6 col-md-2 offset-md-4 text-right">
                <h5>PRODUCTS</h5>
                <ul class="mt-2 footer-nav">
                    <li>Vegetables</li>
                    <li>Fruits</li>
                    <li>Vegetables</li>
                    <li>Vegetables</li>
                    <li>Vegetables</li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <h5>BRANDS</h5>
                <ul class="mt-2 footer-nav">
                    <li>Vegetables</li>
                    <li>Fruits</li>
                    <li>Vegetables</li>
                    <li>Vegetables</li>
                    <li>Vegetables</li>
                </ul>
            </div>
        </div>
    </div> -->

    <div class="container p-2">
        <div class="row text-center">
            <div class="col-12">
                
                    <i class="fa fa-facebook footer-icon p-3"></i>
            
                    <i class="fa fa-instagram footer-icon p-3"></i>
                   
                    <i class="fa fa-twitter footer-icon p-3"></i>
            </div>
        </div>
    </div>
    
</footer>